.bg-light-gray{
    background-color: rgba(220, 220, 220, 0.547);
}

.btn-red-square{
    background: #D72050;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
}
.btn-gray-square{
    background: #403f3f;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
}